<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="d-none" id="url"><% url %></div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-bordered border-0">
          <div class="card-header fixed-top bg-white border-bottom-1 shadow-sm">
            <h4 class="card-title fw-bold pt-2">Mr. Swabe</h4>
          </div>
          <div class="media-container ps-container ps-theme-default ps-active-y mb-5" style="margin-top: 5em" id="chat-content">
            <div class="media media-chat">
              <i class="pt-2 avatar fas fa-user"></i>
              <div class="media-body">
                <p>Hi</p>
                <p>How are you ...???</p>
                <p>
                  What are you doing tomorrow?<br />
                  Can we come up a bar?
                </p>
                <p class="meta"><time datetime="2018">23:58</time></p>
              </div>
            </div>

            <div class="media media-chat media-chat-reverse">
              <div class="media-body">
                <p>Hiii, I'm good.</p>
                <p>How are you doing?</p>
                <p>Long time no see! Tomorrow office. will be free on sunday.</p>
                <p class="meta"><time datetime="2018">00:06</time></p>
              </div>
            </div>

            <div class="media media-chat">
              <i class="pt-2 avatar fas fa-user"></i>
              <div class="media-body">
                <p>Okay</p>
                <p>We will go on sunday?</p>
                <p class="meta"><time datetime="2018">00:07</time></p>
              </div>
            </div>

            <div class="media media-chat media-chat-reverse">
              <div class="media-body">
                <p>That's awesome!</p>
                <p>I will meet you Sandon Square sharp at 10 AM</p>
                <p>Is that okay?</p>
                <p class="meta"><time datetime="2018">00:09</time></p>
              </div>
            </div>

            <div class="media media-chat">
              <i class="pt-2 avatar fas fa-user"></i>
              <div class="media-body">
                <p>Okay i will meet you on Sandon Square</p>
                <p class="meta"><time datetime="2018">00:10</time></p>
              </div>
            </div>

            <div class="media media-chat media-chat-reverse">
              <div class="media-body">
                <p>Do you have pictures of Matley Marriage?</p>
                <p class="meta"><time datetime="2018">00:10</time></p>
              </div>
            </div>

            <div class="media media-chat">
              <i class="pt-2 avatar fas fa-user"></i>
              <div class="media-body">
                <p>Sorry I don't have. i changed my phone.</p>
                <p class="meta"><time datetime="2018">00:12</time></p>
              </div>
            </div>

            <div class="media media-chat media-chat-reverse">
              <div class="media-body">
                <p>Okay then see you on sunday!!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="publisher bt-1 border-top-1 shadow-lg fixed-bottom">
          <i class="pt-2 avatar fas fa-user"></i>
          <input id="msg" class="publisher-input" type="text" placeholder="Write something" autocomplete="nope" />
          <a id="send" class="publisher-btn text-info" href="#" data-abc="true"><i class="fa fa-paper-plane"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
